body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex:1;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* align-items: center; */
    background-color: #1F2937;
    padding-bottom: 78px;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    min-height: 300px;
}

.upper {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}

.lower {
    display: flex;
    padding: 48px;
    gap: 24px;
}

.lower > * {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 48px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap:12px;
    padding-right: 48px;
}
.hero-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    gap:8px;
    /* padding-left:48px ;
    padding-right: 48px; */
    
}
.hero-secondary {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #c1c2c5;
    
    
    
}
.button {
    background-color: #1c5eca;
    border-radius: 6px;
    width:75px;
    border-color:#1c5eca;
    box-shadow: none;
    color:white;
    padding:2px;
    border-width: 1px;    
}

.image {
    display: flex;
    font-size: 18px;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.random-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 48px;
    padding-left: 68px;
    padding-right: 68px;
}
.cards {
    display: flex;
    flex:1;
    width: 700px;
    gap:24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 56px;
    
}
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.card{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items:center
    
}
.square {
    display: flex;
    padding: 56px;
    border: 4px #1c5eca solid;
    border-radius: 10px;
    flex:1;
}
.quote-block {
    display: flex;
    align-content: center;
    background-color: #E5E7EB;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 36px;
    padding-bottom: 36px;
    min-height: 300px;
    
}

.quote{
    font-size: 36px;
    font-style:light italic;
    color: #1f2937;
    
}

.credit {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.action-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 122px;
    padding-bottom: 122px;
    padding-left: 70px;
    padding-right: 70px;
    min-height: 300px;
}

.call {
    display: flex;
    background-color:#1c5eca ;
    align-items: center;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 120px;
    padding-right: 120px;
    gap:72px;
    border-radius: 6px;
}

.call .button {
    border-color: white;
    border-style: solid;
}
.words {
    color:white;
}
.footer {
    display: flex;
    justify-content:center;
    align-items: flex-end;
    background-color: #1F2937;
    font-size: 14px;
    color: #F9FAF8;
    padding: 24px;
    
}