body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 24px;
    
}

.upper {
    display: flex;
    justify-content: space-between;
    
}

.lower {
    display: flex;
    padding: 48px;
    gap: 24px;
}

.lower > * {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 48px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap:12px;
    padding-right: 48px;
}
.hero-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    gap:8px;
    
}
.hero-secondary {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #c1c2c5;
    
    
    
}
.button {
    background-color: #3882F6;
    border-radius: 6px;
    width:75px;
    border-color:#3882F6;
    box-shadow: none;
    color:white;
    padding:2px;    
}

.image {
    display: flex;
    font-size: 18px;
    color: white;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.random-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 48px;
}
.cards {
    display: flex;
    padding: 8px;
    gap:16px;
    padding-left:48px ;
    padding-right: 48px;
    
}
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.square {
    display: flex;
    padding: 56px;
    border: 4px #3882F6 solid;
    border-radius: 10px;
    font-size: 36px;
}
.quote-block {
    display: flex;
    align-content: center;
    background-color: rgb(151, 150, 150);
    flex-direction: column;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 36px;
    padding-bottom: 36px;
    
}

.quote{
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    /* margin-bottom: 0; */
}

.credit {
    display: flex;
    justify-content: flex-end;
    font-style:bold;
    font-size: 24px;
}

.action-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:48px;
}

.call {
    display: flex;
    background-color:#3882F6 ;
    align-items: center;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
}

.words {

   
}
h3 {

}